In [7]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
import warnings
warnings.filterwarnings('ignore')

In [9]:
titanic=pd.read_csv('titanic.csv')

In [11]:
titanic.head()

  Class Gender    Age Survived
0   3rd   Male  Child       No
1   3rd   Male  Child       No
2   3rd   Male  Child       No
3   3rd   Male  Child       No
4   3rd   Male  Child       No

In [13]:
titanic['Class'].unique()

array(['3rd', '1st', '2nd', 'Crew'], dtype=object)

In [15]:
titanic['Class'].value_counts()

Class
Crew    885
3rd     706
1st     325
2nd     285
Name: count, dtype: int64

In [17]:
titanic['Age'].value_counts()

Age
Adult    2092
Child     109
Name: count, dtype: int64

In [19]:
titanic['Survived'].unique()

array(['No', 'Yes'], dtype=object)

In [21]:
titanic['Age'].unique()

array(['Child', 'Adult'], dtype=object)

pre-processing

In [28]:
titanic['Survived'].value_counts()

Survived
No     1490
Yes     711
Name: count, dtype: int64

Pre Processing

In [30]:
df=pd.get_dummies(titanic,dtype='int')
df.head()

,Class_1st,Class_2nd,Class_3rd,Class_Crew,Gender_Female,Gender_Male,Age_Adult,Age_Child,Survived_No,Survived_Yes
0,0,0,1,0,0,1,0,1,1,0
1,0,0,1,0,0,1,0,1,1,0
2,0,0,1,0,0,1,0,1,1,0
3,0,0,1,0,0,1,0,1,1,0
4,0,0,1,0,0,1,0,1,1,0

In [32]:
titanic.shape[0]

2201

Apriori Algorithm

In [35]:
frequent_itemsets = apriori(df,min_support=0.2,use_colnames=True)
frequent_itemsets

     support                                           itemsets
0   0.320763                                        (Class_3rd)
1   0.402090                                       (Class_Crew)
2   0.213539                                    (Gender_Female)
3   0.786461                                      (Gender_Male)
4   0.950477                                        (Age_Adult)
5   0.676965                                      (Survived_No)
6   0.323035                                     (Survived_Yes)
7   0.231713                           (Class_3rd, Gender_Male)
8   0.284871                             (Class_3rd, Age_Adult)
9   0.239891                           (Survived_No, Class_3rd)
10  0.391640                          (Class_Crew, Gender_Male)
11  0.402090                            (Class_Crew, Age_Adult)
12  0.305770                          (Class_Crew, Survived_No)
13  0.757383                           (Gender_Male, Age_Adult)
14  0.619718                         (Survived_No, Gender_Male)
15  0.653339                           (Survived_No, Age_Adult)
16  0.297138                          (Survived_Yes, Age_Adult)
17  0.209905                (Class_3rd, Gender_Male, Age_Adult)
18  0.216265                (Survived_No, Class_3rd, Age_Adult)
19  0.391640               (Class_Crew, Gender_Male, Age_Adult)
20  0.304407             (Class_Crew, Survived_No, Gender_Male)
21  0.305770               (Class_Crew, Survived_No, Age_Adult)
22  0.603816              (Survived_No, Gender_Male, Age_Adult)
23  0.304407  (Class_Crew, Survived_No, Gender_Male, Age_Adult)

In [37]:
rules = association_rules(frequent_itemsets,metric="lift", min_threshold=1,num_itemsets=len(frequent_itemsets))
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Survived_No),(Class_3rd),0.676965,0.320763,0.239891,0.354362,1.104747,1.0,0.022745,1.052040,0.293515,0.316547,0.049466,0.551119
1,(Class_3rd),(Survived_No),0.320763,0.676965,0.239891,0.747875,1.104747,1.0,0.022745,1.281251,0.139592,0.316547,0.219513,0.551119
2,(Class_Crew),(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,1.0,0.075412,8.216621,0.322047,0.491448,0.878295,0.735995
3,(Gender_Male),(Class_Crew),0.786461,0.402090,0.391640,0.497978,1.238474,1.0,0.075412,1.191004,0.901730,0.491448,0.160372,0.735995
4,(Class_Crew),(Age_Adult),0.402090,0.950477,0.402090,1.000000,1.052103,1.0,0.019913,inf,0.082827,0.423040,1.000000,0.711520
5,(Age_Adult),(Class_Crew),0.950477,0.402090,0.402090,0.423040,1.052103,1.0,0.019913,1.036311,1.000000,0.423040,0.035039,0.711520
6,(Class_Crew),(Survived_No),0.402090,0.676965,0.305770,0.760452,1.123325,1.0,0.033569,1.348519,0.183616,0.395417,0.258446,0.606065
7,(Survived_No),(Class_Crew),0.676965,0.402090,0.305770,0.451678,1.123325,1.0,0.033569,1.090436,0.339858,0.395417,0.082935,0.606065
8,(Gender_Male),(Age_Adult),0.786461,0.950477,0.757383,0.963027,1.013204,1.0,0.009870,1.339441,0.061028,0.773191,0.253420,0.879936
9,(Age_Adult),(Gender_Male),0.950477,0.786461,0.757383,0.796845,1.013204,1.0,0.009870,1.051116,0.263149,0.773191,0.048630,0.879936
10,(Survived_No),(Gender_Male),0.676965,0.786461,0.619718,0.915436,1.163995,1.0,0.087312,2.525187,0.436144,0.734518,0.603990,0.851710
11,(Gender_Male),(Survived_No),0.786461,0.676965,0.619718,0.787984,1.163995,1.0,0.087312,1.523634,0.659783,0.734518,0.343674,0.851710
12,(Survived_No),(Age_Adult),0.676965,0.950477,0.653339,0.965101,1.015386,1.0,0.009900,1.419023,0.046906,0.670709,0.295290,0.826241
13,(Age_Adult),(Survived_No),0.950477,0.676965,0.653339,0.687380,1.015386,1.0,0.009900,1.033317,0.305968,0.670709,0.032243,0.826241
14,"(Survived_No, Age_Adult)",(Class_3rd),0.653339,0.320763,0.216265,0.331015,1.031961,1.0,0.006698,1.015325,0.089342,0.285372,0.015093,0.502618
15,"(Class_3rd, Age_Adult)",(Survived_No),0.284871,0.676965,0.216265,0.759171,1.121433,1.0,0.023418,1.341344,0.151418,0.290067,0.254479,0.539317
16,(Survived_No),"(Class_3rd, Age_Adult)",0.676965,0.284871,0.216265,0.319463,1.121433,1.0,0.023418,1.050831,0.335207,0.290067,0.048372,0.539317
17,(Class_3rd),"(Survived_No, Age_Adult)",0.320763,0.653339,0.216265,0.674221,1.031961,1.0,0.006698,1.064097,0.045597,0.285372,0.060236,0.502618
18,"(Class_Crew, Gender_Male)",(Age_Adult),0.391640,0.950477,0.391640,1.000000,1.052103,1.0,0.019395,inf,0.081404,0.412046,1.000000,0.706023
19,"(Class_Crew, Age_Adult)",(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,1.0,0.075412,8.216621,0.322047,0.491448,0.878295,0.735995
20,"(Gender_Male, Age_Adult)",(Class_Crew),0.757383,0.402090,0.391640,0.517097,1.286022,1.0,0.087104,1.238157,0.916706,0.510059,0.192348,0.745554
21,(Class_Crew),"(Gender_Male, Age_Adult)",0.402090,0.757383,0.391640,0.974011,1.286022,1.0,0.087104,9.335480,0.371976,0.510059,0.892882,0.745554
22,(Gender_Male),"(Class_Crew, Age_Adult)",0.786461,0.402090,0.391640,0.497978,1.238474,1.0,0.075412,1.191004,0.901730,0.491448,0.160372,0.735995
23,(Age_Adult),"(Class_Crew, Gender_Male)",0.950477,0.391640,0.391640,0.412046,1.052103,1.0,0.019395,1.034706,1.000000,0.412046,0.033542,0.706023
24,"(Class_Crew, Survived_No)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,1.0,0.063931,47.903983,0.302519,0.386390,0.979125,0.691301
25,"(Class_Crew, Gender_Male)",(Survived_No),0.391640,0.676965,0.304407,0.777262,1.148157,1.0,0.039280,1.450292,0.212110,0.398335,0.310484,0.613463
26,"(Survived_No, Gender_Male)",(Class_Crew),0.619718,0.402090,0.304407,0.491202,1.221623,1.0,0.055225,1.175143,0.477059,0.424319,0.149040,0.624132
27,(Class_Crew),"(Survived_No, Gender_Male)",0.402090,0.619718,0.304407,0.757062,1.221623,1.0,0.055225,1.565346,0.303418,0.424319,0.361163,0.624132
28,(Survived_No),"(Class_Crew, Gender_Male)",0.676965,0.391640,0.304407,0.449664,1.148157,1.0,0.039280,1.105434,0.399458,0.398335,0.095378,0.613463
29,(Gender_Male),"(Class_Crew, Survived_No)",0.786461,0.305770,0.304407,0.387060,1.265851,1.0,0.063931,1.132622,0.983509,0.386390,0.117093,0.691301
30,"(Class_Crew, Survived_No)",(Age_Adult),0.305770,0.950477,0.305770,1.000000,1.052103,1.0,0.015143,inf,0.071335,0.321702,1.000000,0.660851
31,"(Class_Crew, Age_Adult)",(Survived_No),0.402090,0.676965,0.305770,0.760452,1.123325,1.0,0.033569,1.348519,0.183616,0.395417,0.258446,0.606065
32,"(Survived_No, Age_Adult)",(Class_Crew),0.653339,0.402090,0.305770,0.468011,1.163946,1.0,0.043069,1.123915,0.406316,0.407879,0.110253,0.614232
33,(Class_Crew),"(Survived_No, Age_Adult)",0.402090,0.653339,0.305770,0.760452,1.163946,1.0,0.043069,1.447145,0.235577,0.407879,0.308984,0.614232
34,(Survived_No),"(Class_Crew, Age_Adult)",0.676965,0.402090,0.305770,0.451678,1.123325,1.0,0.033569,1.090436,0.339858,0.395417,0.082935,0.606065
35,(Age_Adult),"(Class_Crew, Survived_No)",0.950477,0.305770,0.305770,0.321702,1.052103,1.0,0.015143,1.023488,1.000000,0.321702,0.022949,0.660851
36,"(Survived_No, Gender_Male)",(Age_Adult),0.619718,0.950477,0.603816,0.974340,1.025106,1.0,0.014788,1.929980,0.064404,0.624824,0.481860,0.804809
37,"(Survived_No, Age_Adult)",(Gender_Male),0.653339,0.786461,0.603816,0.924200,1.175139,1.0,0.089991,2.817152,0.429921,0.722283,0.645032,0.845982
38,"(Gender_Male, Age_Adult)",(Survived_No),0.757383,0.676965,0.603816,0.797241,1.177669,1.0,0.091095,1.593193,0.621823,0.727024,0.372330,0.844593
39,(Survived_No),"(Gender_Male, Age_Adult)",0.676965,0.757383,0.603816,0.891946,1.177669,1.0,0.091095,2.245337,0.467023,0.727024,0.554633,0.844593
40,(Gender_Male),"(Survived_No, Age_Adult)",0.786461,0.653339,0.603816,0.767764,1.175139,1.0,0.089991,1.492710,0.697935,0.722283,0.330078,0.845982
41,(Age_Adult),"(Survived_No, Gender_Male)",0.950477,0.619718,0.603816,0.635277,1.025106,1.0,0.014788,1.042660,0.494550,0.624824,0.040914,0.804809
42,"(Class_Crew, Survived_No, Gender_Male)",(Age_Adult),0.304407,0.950477,0.304407,1.000000,1.052103,1.0,0.015075,inf,0.071195,0.320268,1.000000,0.660134
43,"(Class_Crew, Survived_No, Age_Adult)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,1.0,0.063931,47.903983,0.302519,0.386390,0.979125,0.691301
44,"(Class_Crew, Gender_Male, Age_Adult)",(Survived_No),0.391640,0.676965,0.304407,0.777262,1.148157,1.0,0.039280,1.450292,0.212110,0.398335,0.310484,0.613463
45,"(Survived_No, Gender_Male, Age_Adult)",(Class_Crew),0.603816,0.402090,0.304407,0.504138,1.253795,1.0,0.061619,1.205800,0.510929,0.433938,0.170675,0.630600
46,"(Class_Crew, Survived_No)","(Gender_Male, Age_Adult)",0.305770,0.757383,0.304407,0.995542,1.314450,1.0,0.072822,54.427079,0.344592,0.401198,0.981627,0.698731
47,"(Class_Crew, Gender_Male)","(Survived_No, Age_Adult)",0.391640,0.653339,0.304407,0.777262,1.189676,1.0,0.048533,1.556362,0.262074,0.411043,0.357476,0.621594
48,"(Class_Crew, Age_Adult)","(Survived_No, Gender_Male)",0.402090,0.619718,0.304407,0.757062,1.221623,1.0,0.055225,1.565346,0.303418,0.424319,0.361163,0.624132
49,"(Survived_No, Gender_Male)","(Class_Crew, Age_Adult)",0.619718,0.402090,0.304407,0.491202,1.221623,1.0,0.055225,1.175143,0.477059,0.424319,0.149040,0.624132
50,"(Survived_No, Age_Adult)","(Class_Crew, Gender_Male)",0.653339,0.391640,0.304407,0.465925,1.189676,1.0,0.048533,1.139090,0.459917,0.411043,0.122107,0.621594
51,"(Gender_Male, Age_Adult)","(Class_Crew, Survived_No)",0.757383,0.305770,0.304407,0.401920,1.314450,1.0,0.072822,1.160764,0.986022,0.401198,0.138498,0.698731
52,(Class_Crew),"(Survived_No, Gender_Male, Age_Adult)",0.402090,0.603816,0.304407,0.757062,1.253795,1.0,0.061619,1.630802,0.338549,0.433938,0.386805,0.630600
53,(Survived_No),"(Class_Crew, Gender_Male, Age_Adult)",0.676965,0.391640,0.304407,0.449664,1.148157,1.0,0.039280,1.105434,0.399458,0.398335,0.095378,0.613463
54,(Gender_Male),"(Class_Crew, Survived_No, Age_Adult)",0.786461,0.305770,0.304407,0.387060,1.265851,1.0,0.063931,1.132622,0.983509,0.386390,0.117093,0.691301
55,(Age_Adult),"(Class_Crew, Survived_No, Gender_Male)",0.950477,0.304407,0.304407,0.320268,1.052103,1.0,0.015075,1.023334,1.000000,0.320268,0.022802,0.660134

In [39]:
rules.sort_values('lift',ascending = False)[0:20]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
51,"(Gender_Male, Age_Adult)","(Class_Crew, Survived_No)",0.757383,0.305770,0.304407,0.401920,1.314450,1.0,0.072822,1.160764,0.986022,0.401198,0.138498,0.698731
46,"(Class_Crew, Survived_No)","(Gender_Male, Age_Adult)",0.305770,0.757383,0.304407,0.995542,1.314450,1.0,0.072822,54.427079,0.344592,0.401198,0.981627,0.698731
21,(Class_Crew),"(Gender_Male, Age_Adult)",0.402090,0.757383,0.391640,0.974011,1.286022,1.0,0.087104,9.335480,0.371976,0.510059,0.892882,0.745554
20,"(Gender_Male, Age_Adult)",(Class_Crew),0.757383,0.402090,0.391640,0.517097,1.286022,1.0,0.087104,1.238157,0.916706,0.510059,0.192348,0.745554
54,(Gender_Male),"(Class_Crew, Survived_No, Age_Adult)",0.786461,0.305770,0.304407,0.387060,1.265851,1.0,0.063931,1.132622,0.983509,0.386390,0.117093,0.691301
29,(Gender_Male),"(Class_Crew, Survived_No)",0.786461,0.305770,0.304407,0.387060,1.265851,1.0,0.063931,1.132622,0.983509,0.386390,0.117093,0.691301
24,"(Class_Crew, Survived_No)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,1.0,0.063931,47.903983,0.302519,0.386390,0.979125,0.691301
43,"(Class_Crew, Survived_No, Age_Adult)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,1.0,0.063931,47.903983,0.302519,0.386390,0.979125,0.691301
45,"(Survived_No, Gender_Male, Age_Adult)",(Class_Crew),0.603816,0.402090,0.304407,0.504138,1.253795,1.0,0.061619,1.205800,0.510929,0.433938,0.170675,0.630600
52,(Class_Crew),"(Survived_No, Gender_Male, Age_Adult)",0.402090,0.603816,0.304407,0.757062,1.253795,1.0,0.061619,1.630802,0.338549,0.433938,0.386805,0.630600
19,"(Class_Crew, Age_Adult)",(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,1.0,0.075412,8.216621,0.322047,0.491448,0.878295,0.735995
22,(Gender_Male),"(Class_Crew, Age_Adult)",0.786461,0.402090,0.391640,0.497978,1.238474,1.0,0.075412,1.191004,0.901730,0.491448,0.160372,0.735995
3,(Gender_Male),(Class_Crew),0.786461,0.402090,0.391640,0.497978,1.238474,1.0,0.075412,1.191004,0.901730,0.491448,0.160372,0.735995
2,(Class_Crew),(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,1.0,0.075412,8.216621,0.322047,0.491448,0.878295,0.735995
48,"(Class_Crew, Age_Adult)","(Survived_No, Gender_Male)",0.402090,0.619718,0.304407,0.757062,1.221623,1.0,0.055225,1.565346,0.303418,0.424319,0.361163,0.624132
27,(Class_Crew),"(Survived_No, Gender_Male)",0.402090,0.619718,0.304407,0.757062,1.221623,1.0,0.055225,1.565346,0.303418,0.424319,0.361163,0.624132
49,"(Survived_No, Gender_Male)","(Class_Crew, Age_Adult)",0.619718,0.402090,0.304407,0.491202,1.221623,1.0,0.055225,1.175143,0.477059,0.424319,0.149040,0.624132
26,"(Survived_No, Gender_Male)",(Class_Crew),0.619718,0.402090,0.304407,0.491202,1.221623,1.0,0.055225,1.175143,0.477059,0.424319,0.149040,0.624132
50,"(Survived_No, Age_Adult)","(Class_Crew, Gender_Male)",0.653339,0.391640,0.304407,0.465925,1.189676,1.0,0.048533,1.139090,0.459917,0.411043,0.122107,0.621594
47,"(Class_Crew, Gender_Male)","(Survived_No, Age_Adult)",0.391640,0.653339,0.304407,0.777262,1.189676,1.0,0.048533,1.556362,0.262074,0.411043,0.357476,0.621594